В коде используются следующие модули:
1. Pygame (2.6.1)
  В целом реализовали игру: прописали вид консоли, игровой цикл, события, таймеры, отображение изображений и тд
2.  Random 
 Генерировали уровни благодаря случайному выбору одной из тематических папок и рандомного распределения карточек по местам
3. Json
  Записывали статистику игрока в json файл при помощи этого модуля 
4. Os
  Благодаря ему работали с извлечением информации из папок и файлов. Формировали пути к файлам и папкам, проверяли их наличие в целом
5. Glob
  С его помощью искали все названия файлов, названных по одному шаблону (для формирования колоды)
Использование ИИ
Обращались к Deepseek в тех случаях, когда не удавалось найти понятного и детального объяснения по работе той или иной функции.
Рефлексия
Пользовались чаще, чем хотелось бы, так как pygame – очень объёмный модуль, множество моментов вызывали трудности.

